*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;    
}

:root{
  --Verydarkcyan: hsl(183, 100%, 15%);
  --Darkgrayishcyan: hsl(186, 14%, 43%);
  --Grayishcyan: hsl(184, 14%, 56%);
  --Lightgrayishcyan: hsl(185, 41%, 84%);
  --Verylightgrayishcyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

body{
  font-family: "Space Mono", monospace;
  background-color: var(--Lightgrayishcyan);
}

.main-container{
  background-color: var(--White);
  border-radius: 0.8rem 0.8rem 0 0;
  padding: 1rem;
}